<?php
//this is {{componentName}} HTML template
?>
<div class="vue-component-{{componentName}}">
    <h1>component {{componentName}}</h1>
    <p>Model test: <?php echo $this->string("test"); ?></p>
</div>
